<p id="notice"><%= notice %></p>

<h1>已有的短網址列表</h1>

<table>
  <thead>
    <tr>
      <th>短網址</th>
      <th>原始網址</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.random_id %></td>
        <td><%= url.original %></td>
        <td><%#= link_to 'Show', url %></td>
        <td><%#= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to '刪除', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增短網址', new_url_path %>
